.jumbotron {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
}


input {
  margin: 5px;
}

h1 {
  color: purple;
}

.btn-lg {
  background-color: turquoise;
  border: 2px;
}

.thumbnail {
  height: 160px;
  width: 160px;
  padding: 10px;
  margin: 10px;
  box-shadow: 10px 10px 5px grey;
}

.front {
  background: url("images/mm.png");
}

#tile-box {
  margin-top: 50px;
  margin: 50px;
}