@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.jumbotron {
  margin-top: 150px;
  margin-left: 300px;
  margin-right: 300px;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
}


input {
  margin: 5px;
}

h1 {
  color: purple;
}

.btn-lg {
  background-color: turquoise;
  border: 2px;
}

.thumbnail {
  height: 160px;
  width: 160px;
  padding: 10px;
  margin: 10px;
  /* box-shadow: 10px 10px 5px grey; */
}

.front {
  background: url("images/mm.png");
}

#tile-box {
  margin-top: 50px;
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.flip-card {
  background-color: transparent;
  /* width: 300px; */
  /* height: 200px; */
  /* border: 1px solid #f1f1f1; */
  /* perspective: 1000px; */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: 10px 10px 3px grey;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover {
  /* transform: rotateY(180deg); */
  /* opacity: 0.3; */
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  background: url("images/mm.png");
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #bbb;
  /* background: url("images/blackkitty.jpg"); */
  background-size: 160px 160px;
  overflow: hidden;
  /* color: black; */
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY(180deg);
}

.flip-card-inner.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  backface-visibility: visible;
}


 
 .tile-container {
  width: 160px;
  height: 160px;
  position: relative;
  border: 1px solid #ccc;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}

img {
  width: 160px;
  height: 160px;
  /* flex-grow: 1; */
  /* max-height: 100%; */
}

ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
  font-size: 27px;
  margin: 10px;
}
ol li:before {
  color: turquoise;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  text-align: right;
  width: 26px;
}

#high-score-box {
  /* border-style: dotted;
  border-color: turquoise;
  border-width: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

